<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venue Entertainment Report</title>
</head>
<body>
    <div>
        <p>We sincerely hope this message finds you in excellent health and high spirits.
        It brings us great pleasure to fulfill your request by providing you with the requested CSV file containing comprehensive theater details.
        Your convenience and satisfaction are of utmost importance to us, and we trust that this data will effectively cater to your needs.</p>
        <p>Warm Regards,</p>
        <p>TicketApp</p>
    </div>
</body>
</html>