<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VISIT MAIL</title>
</head>
<body>
    <div>
        <p>Dear {{name}},</p>
        <p>It's been 24 hours since we last saw you on our website, and we're eager to welcome you back. Don't miss out on exclusive offers and new arrivals. Your satisfaction means the world to us. Visit us today!!.</p>
        <p> Best regards,</p>
        <p>Ticketapp</p>
        
    </div>
</body>
</html>